<div class="auth-container">
  <p-card class="auth-card" styleClass="auth-card">
    <div class="text-left pb-2">
      @if (!isSubmitted()) {
        <h2 class="forgot-pw-text text-4xl font-bold mt-2 mb-2">
          Forgot password 🔑
        </h2>

        <p class="forgot-pw-subtext text-sm ml-1">
          Enter your email address and we'll send you a link to reset your
          password
        </p>
      } @else {
        <div class="flex items-center justify-center gap-3 mt-2 mb-4">
          <h2 class="text-4xl font-bold forgot-pw-text">Email sent ✅</h2>
        </div>

        <div class="text-center">
          <p class="text-sm text-center mt-2 mb-4 forgot-pw-subtext">
            If an account with this email exists, a reset link has been sent.
            Please check your inbox and follow the instructions.
          </p>
        </div>
      }
    </div>

    @if (!isSubmitted()) {
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="mt-7 mb-5">
          <p-float-label>
            <input
              pInputText
              [pAutoFocus]="true"
              id="email"
              type="email"
              formControlName="email"
              class="w-full"
              [ngClass]="{
                'ng-invalid ng-dirty':
                  forgotPasswordForm.get('email')?.invalid &&
                  forgotPasswordForm.get('email')?.dirty,
              }" />
            <label class="text-sm" for="email">Email</label>
          </p-float-label>
          @if (
            forgotPasswordForm.get('email')?.invalid &&
            forgotPasswordForm.get('email')?.dirty
          ) {
            <small class="danger-color ml-2">
              Please enter a valid email address
            </small>
          }
        </div>

        <div class="mt-7">
          <p-button
            type="submit"
            label="Reset password"
            class="w-full"
            size="large"
            styleClass="reset-password-button"
            [loading]="isLoading()"></p-button>
        </div>
      </form>
    }

    @if (!isSubmitted()) {
      <div class="mt-4 text-sm text-center">
        <span class="forgot-pw-subtext">Remember your password?</span>
        <p-button
          class="back-to-login-button ml-2"
          label="Back to sign in"
          [link]="true"
          (click)="navigateToLogin()" />
      </div>
    } @else {
      <div class="flex justify-center">
        <p-button
          label="Back to sign in"
          size="large"
          variant="outlined"
          (click)="navigateToLogin()">
        </p-button>
      </div>
    }

    <p-toast
      [breakpoints]="{
        '920px': { width: '95%', right: '0.5rem', left: '1rem' },
      }"></p-toast>
  </p-card>
</div>
